# Ignore raw data
Data/twcs.csv

# Allow processed project datasets
!Data/final_tweets.csv
!Data/top_company_tweets.csv

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.venv/
.env

# Results / models
models/
*.pkl
*.joblib
*.pt
*.bin